@using System.Web.Optimization

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title - Employee Management</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/Scripts/bootstrap")

</head>
<body>
    
        <nav class="navbar navbar-expand-sm  bg-light navbar-light">
            <a href="#" class="navbar-brand">Employee Management</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown-item" id="HomeMenu" href="/Home/Index">Home</li>
                    @if (Convert.ToString(Session["CurrentUserRole"]) == "HR")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="EmployeeMenu" data-toggle="dropdown">Employee</a>
                            <div class="dropdown-menu" aria-labelledby="EmployeeMenu">
                                <a class="dropdown-item" href="/Account/Register">Add Employee</a>
                                <a class="dropdown-item" href="/Account/FindEmployee">Update Employee</a>
                                <a class="dropdown-item" href="/Account/SearchEmployee">Search Employee by role</a>
                                <a class="dropdown-item" href="/Account/SearchEmployeeByName">Search Employee by name</a>
                            </div>
                        </li>
                    }
                    @if (Convert.ToString(HttpContext.Current.Session["CurrentUserRole"]) == "Project Manager" || (Convert.ToString(HttpContext.Current.Session["CurrentUserRole"]) == "HR" && Convert.ToString(HttpContext.Current.Session["IsSpecialPermission"]) == "True"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="LeaveMenu" data-toggle="dropdown">Leave Management</a>
                            <div class="dropdown-menu" aria-labelledby="LeaveMenu">
                                <a class="dropdown-item" href="/Leave/GetLeaveRequests/">Leave Requests</a>

                            </div>
                        </li>
                    }
                    @if (Convert.ToString(Session["CurrentUserRole"]) == "Employee")
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="LeaveRequestMenu" data-toggle="dropdown">Leave Requests</a>
                            <div class="dropdown-menu" aria-labelledby="LeaveRequestsMenu">
                                <a class="dropdown-item" href="/LeaveRequest/NewRequest">New Request</a>
                                <a class="dropdown-item" href="/LeaveRequest/LeaveStatus">Leave Status</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ProfileMenu" data-toggle="dropdown">Profile</a>
                            <div class="dropdown-menu" aria-labelledby="ProfileMenu">
                                <a class="dropdown-item" href="/Account/UpdateEmployeeProfile">Update Profile</a>

                            </div>
                        </li>
                    }
                    @if (Session["CurrentUserName"] == null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="AccountMenu" data-toggle="dropdown">Account</a>
                            <div class="dropdown-menu" aria-labelledby="AccountMenu">
                                <a class="dropdown-item" href="/Account/Register">Register</a>
                                <a class="dropdown-item" href="/Account/Login">Login</a>

                            </div>
                        </li>
                    }
                    @if (Session["CurrentUserName"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                @Session["CurrentUserName"]
                            </a>
                            <div class="dropdown-menu bg-info">
                                <a class="dropdown-item" href="/account/logout">Logout</a>

                            </div>

                        </li>
                    }
                </ul>
            </div>
        </nav>


        <div>

            @RenderBody()
        </div>
    
</body>
</html>
