@model EmployeeManagement.ViewModels.UserViewModel
    
<tbody>
    <tr>
        <td>@Model.UserID</td>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Mobile</td>
        <td>@Model.Role</td>
        <td>
            
            <img src="data:image;base64,@Model.ImageUrl" width="100px" />
        </td>
    </tr>
</tbody>
        