@model EmployeeManagement.ViewModels.LeaveViewModel
<form action="/Leave/ApproveorRejectLeave" method="post">
    <tr>

        <td>@Model.LeaveID</td>
        @Html.HiddenFor(temp => temp.LeaveID)
        <td>@Model.EmployeeID</td>
        @Html.HiddenFor(temp => temp.EmployeeID)
        <td>@Model.StartDate</td>
        @Html.HiddenFor(temp => temp.StartDate)
        <td>@Model.EndDate</td>
        @Html.HiddenFor(temp => temp.EndDate)
        <td>@Model.IsApproved</td>
        @Html.HiddenFor(temp => temp.IsApproved)
        @if (Model.IsApproved == "Pending" && Convert.ToString(Session["CurrentUserRole"]) == "Project Manager")
        {
            <td><input type="submit" class="btn btn-secondary"  name="submit" value="Approve" /></td>
            <td><input type="submit" class="btn btn-danger" name="submit" value="Reject" /></td>
        }



    </tr>
</form>
